boto3==1.35.99
configparser
emails
Flask
Flask-Caching
Flask-Cors
Flask-Login
Flask-WTF
gunicorn
hurry.filesize
mysql-connector-python==8.0.20
peewee
pyinstaller
python-decouple
PyYAML
redis
requests
rich
rq
ruamel.yaml
typer
packaging
humanfriendly
wget
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
