boto3==1.35.99
configparser
emails
Flask
Flask-Caching
Flask-Cors
Flask-Login
Flask-WTF
gunicorn
hurry.filesize
mysql-connector-python==8.0.21
psycopg2-binary
peewee
pyinstaller
python-decouple
PyYAML
redis
requests
rich
rq
ruamel.yaml
toml
typer
packaging
humanfriendly
wget
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
pytest>=7.0.0
pytest-mock>=3.10.0
pytest-cov>=4.0.0
moto>=4.2.0
pytest-flask>=1.2.0
