altgraph==0.17.3
async-timeout==4.0.2
boto3==1.23.10
botocore==1.26.10
cachetools==4.2.4
chardet==5.0.0
click==8.0.4
commonmark==0.9.1
configparser==5.2.0
cssselect==1.1.0
cssutils==2.3.1
dataclasses==0.8
emails==0.6
Flask==2.0.3
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-WTF==1.0.1
gevent==22.10.2
greenlet==2.0.1
gunicorn==20.1.0
hurry.filesize==0.9
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lxml==4.9.2
MarkupSafe==2.0.1
mysql-connector-python==8.0.32
packaging==21.3
peewee==3.15.4
pkg-resources==0.0.0
premailer==3.10.0
protobuf==3.19.6
Pygments==2.14.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.7
PyYAML==6.0
redis==4.3.5
requests==2.0.0
rich==12.6.0
rq==1.12.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.5.2
six==1.16.0
typer==0.7.0
typing-extensions==4.1.1
urllib3==1.26.14
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
zope.event==4.6
zope.interface==5.5.2