#shell_modal .modal-header {
    cursor: move;
}
.item.active {
    background: #e2e2e2;
    border-radius: 1em;
}

.item:hover {
    border-radius: 1em;
    border: 1px solid #ddd;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.item {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    flex: 0 0 10%;
    max-width: 15%;
    word-wrap: anywhere;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid transparent;

}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.text-ellipsis:hover {
    text-overflow: unset;
    overflow: unset;
    display: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    white-space: unset;
}

.folder_type {
    background-image:url("{{ url_for('static', filename='img/folder.png') }}");
}

.file_type {
    background-image:url("{{ url_for('static', filename='img/file.png') }}");
}

.file_type,
.folder_type {
    background-size: 3em;
    background-repeat: no-repeat;
    width: 7em;
}

#right_click {
    /* display: none; */
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
}

.right_click_menu_files {
    background-color: white;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: auto;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 15%)
}

.menu_right_click {
    padding: 1em;
    cursor: pointer;
}

.menu_right_click:hover {
    background: #f4f4f4;
}

#ace_editor {
    height: 66vh;
    border: 1px solid #ddd;
}

#table_permissions {
    width: 100%;
    border-top:1px solid #ddd;
}

#table_permissions th,
#table_permissions td {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}