storages:
  dummy:
    bucket: dummy
    access_key_id: dummy
    secret_access_key: dummy
    region: dummy
    endpoint: dummy
    primary: no

    remote_url: https://dummy.com/get?token=admin#1234
