{% extends "base.html" %}
{% block content %}
<div class="page-wrapper" x-data="bqckup_add" x-cloak>
    <div class="container-xl">
        <div class="page-header">
            <div class="row">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Bqckup
                    </div>
                    <h2 class="page-title">
                        Add
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none"
                    style="width: {{ 'auto' if not session['need_update'] else '50%'}};height:1em;">
                    <div class="text-end page-pretitle">
                        Server Time
                    </div>
                    <h2 class="page-title">
                        00:00:00
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="steps">
                <a href="#" class="step-item" :class="step == 'files' ? 'active' : ''">
                    Setup Files
                </a>
                <a href="#" class="step-item" :class="step == 'database' ? 'active' : ''">
                    Setup Database
                </a>
                <a href="#" class="step-item" :class="step == 'files' ? 'configuration' : ''">
                    Setup Bqckup
                </a>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    <div>
                        <h3 class="card-title" x-text="form.name"></h3>
                        <p class="card-subtitle" x-text="form.description"></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn" disabled x-show="step == 'database'">You can skip this step, if you do not
                            need database backup</button>
                        <button class="btn btn-light" :class="step == 'files' ? 'd-none' : ''" x-on:click="previous()">
                            Back </button>
                        <button class="btn btn-primary" type="submit" :disabled="false"
                            :class="step == 'configuration' ? 'd-none' : ''" x-on:click="next()"> Next </button>
                    </div>
                </div>
                <div class="card-body">
                    <div x-show="step == 'files'" x-transition>
                        <form action="#" method="POST" x-ref="form_files">
                            <div class="mb-3">
                                <label for="" class="form-label">Backup name</label>
                                <input type="text" class="form-control" x-model.defer="payload.backup.name"
                                    placeholder="Backup name" required>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Path</label>
                                <textarea name="" id="" cols="30" rows="3" x-model.defer="payload.backup.path"
                                    class="form-control" required></textarea>
                                    <span class="form-text">
                                        Use enter ⏎ if it's more than one path
                                    </span>
                            </div>
                        </form>
                    </div>
                    <div x-show="step == 'database'" x-transition>
                        <form x-ref="form_database">
                            <div class="alert alert-important alert-success alert-dismissible" role="alert"
                                x-show="notifications.testingDatabaseSuccess">
                                <div class="d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="--tblr-icon-size: 1.5rem;" class="icon"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                    <div class="d-flex align-items-center ms-2">
                                        Connection success
                                    </div>
                                </div>
                                <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
                            </div>
                            <div class="alert alert-important alert-danger alert-dismissible" role="alert"
                                x-show="notifications.testingDatabaseFailed">
                                <div class="d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="--tblr-icon-size: 1.5rem;" class="icon"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M20 16l-4 4"></path>
                                        <path d="M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z"></path>
                                        <path d="M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z"></path>
                                        <path d="M3 21l2.5 -2.5"></path>
                                        <path d="M18.5 5.5l2.5 -2.5"></path>
                                        <path d="M10 11l-2 2"></path>
                                        <path d="M13 14l-2 2"></path>
                                        <path d="M16 16l4 4"></path>
                                    </svg>
                                    <div class="d-flex align-items-center ms-2">
                                        Connection failed
                                    </div>
                                </div>
                                <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Database type</label>
                                <select name="" id="" class="form-control" x-model.defer="payload.database.type">
                                    <option value="mysqli" selected>MySQL</option>
                                    <option value="postgre">PostGreSql</option>
                                    <option value="sqlite">Sqlite</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Database Host</label>
                                <input type="text" class="form-control" placeholder="Database Host"
                                    x-model.defer="payload.database.host">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Database User</label>
                                <input type="text" class="form-control" placeholder="Database user"
                                    x-model.defer="payload.database.user">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Database Password</label>
                                <input type="password" class="form-control" placeholder="Database password"
                                    x-model.defer="payload.database.password">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Database Name</label>
                                <input type="text" class="form-control" placeholder="Database name"
                                    x-model.defer="payload.database.name">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary" x-on:click="testDatabaseConnection()">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z"></path>
                                        <path d="M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z"></path>
                                        <path d="M3 21l2.5 -2.5"></path>
                                        <path d="M18.5 5.5l2.5 -2.5"></path>
                                        <path d="M10 11l-2 2"></path>
                                        <path d="M13 14l-2 2"></path>
                                    </svg>
                                    Test Connection
                                </button>
                            </div>
                        </form>
                    </div>
                    <div x-show="step == 'configuration'">
                        <div class="mb-3">
                            <label for="" class="form-label">Storage</label>
                            <select class="form-control" x-model.defer="payload.configuration.storage">
                                <template x-for="storage in storages">
                                    <option :value="storage" x-text="storage"></option>
                                </template>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Schedule</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" x-model.defer="payload.configuration.schedule"
                                    id="schedule-daily" autocomplete="off" checked="" value="daily">
                                <label for="schedule-daily" type="button" class="btn">Daily</label>
                                <input type="radio" class="btn-check" x-model.defer="payload.configuration.schedule"
                                    id="schedule-weekly" autocomplete="off">
                                <label for="schedule-weekly" type="button" class="btn">Weekly</label>
                                <input type="radio" class="btn-check" x-model.defer="payload.configuration.schedule"
                                    id="schedule-monthly" autocomplete="off">
                                <label for="schedule-monthly" type="button" class="btn">Monthly</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Time</label>
                            <input class="timepicker form-control" type="text">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Email Notification</label>
                            <input type="email" class="form-control" placeholder="E-Mail">
                            <small class="form-text">Leave it blank, if you do not need notification</small>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">File Retention</label>
                            <input type="number" class="form-control" placeholder="Number of File Retention">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Options</label>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-label">
                                    Save file locally
                                </span>
                                <span class="form-check-description">
                                    Compressed files will be not deleted on your server
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(".timepicker").flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        defaultDate: "00:00",
    });
</script>
<script src="{{ url_for('static', filename='js/bqckup_add_form.js') }}"></script>
{% endblock %}