{% extends "base.html" %}
{% block content %}
<style>
  .error {
    color: red;
  }

  .is-countdown {
    border: unset;
    background-color: unset;
  }

  .countdown-show3 {
    padding: 0;
  }

  .countdown-show3 .countdown-section {
    width: 30% !important;
  }
  .container-xl {
    padding-left:0;
    padding-right:0;
  }

  /* Custom Countdown */
  .countdown-section {
    text-align: left;
  }

  .countdown-period {
    display: unset;
    padding-left: 2px;
  }

  .countdown-show3 .countdown-section {
    width:20% !important;
  }

  .countdown-section:nth-child(1) {
    width:20% !important;
  }

</style>
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="alert alert-success" id="backup_done" style="display:none;">
        Backup done ✔
      </div>
      <div id="backup_loading" style="display:none;">
        <div class="mb-1 text-muted">
          Backup On Progress (<span id="backup_loading_backup_name"></span>)
        </div>
        <div class="progress progress-md mb-3" >
          <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Dashboard
          </h2>
        </div>
        <div class="col-auto ms-auto d-print-none" style="width: {{ 'auto' if not session['need_update'] else '50%'}};height:1em;">
          {% if not session['need_update'] %}
          <h2 class="text-primary mt-2">
            Ver {{ currentVersion }}
          </h2>
          {% endif %}
          {% if session['need_update'] %}
          <div class="row">
            <div class="col-6 col-md-4"></div>
            <div class="col-4 col-md-4"></div>
            <div class="col-2 col-md-4">
              <button class="btn btn-md btn-white" onclick="updateNow(this)" style="margin-top:.4em;border-color:#ddd;float:right;">
                <svg class="icon line-color animation-bounce" width="24" height="24" id="download" data-name="Line color"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path id="secondary" d="M12,3V16M8,12l4,4,4-4"
                    style="fill: none; stroke: rgb(2, 117, 248); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                  </path>
                  <path id="primary" d="M20,16v4a1.08,1.08,0,0,1-1.14,1H5.14A1.08,1.08,0,0,1,4,20V16"
                    style="fill: none; stroke: rgb(209, 209, 209); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;">
                  </path>
                </svg>
                Update now &nbsp;<small style="font-size: .6em;position:relative;top:3px;">(V 1.0.2)</small>
              </button>
            </div>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block script %}
<!-- <script src="{{ url_for('static', filename='additional/js/main.js') }}"></script> -->
{% endblock %}
