{% extends "base.html" %}
{% block content %}
<style>
  .error {
    color: red;
  }

  .is-countdown {
    border: unset;
    background-color: unset;
  }

  .countdown-show3 {
    padding: 0;
  }

  .countdown-show3 .countdown-section {
    width: 30% !important;
  }
  .container-xl {
    padding-left:0;
    padding-right:0;
  }

  /* Custom Countdown */
  .countdown-section {
    text-align: left;
  }

  .countdown-period {
    display: unset;
    padding-left: 2px;
  }

  .countdown-show3 .countdown-section {
    width:20% !important;
  }

  .countdown-section:nth-child(1) {
    width:20% !important;
  }

</style>
<div class="page-wrapper" x-data="dashboard" x-cloak>
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="alert alert-success" id="backup_done" style="display:none;">
        Backup done ✔
      </div>
      <div id="backup_loading" style="display:none;">
        <div class="mb-1 text-muted">
          Backup On Progress (<span id="backup_loading_backup_name"></span>)
        </div>
        <div class="progress progress-md mb-3" >
          <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            Overview
          </div>
          <h2 class="page-title">
            Dashboard
          </h2>
        </div>
        <div class="col-auto ms-auto d-print-none" style="width: {{ 'auto' if not session['need_update'] else '50%'}};height:1em;">
          <div class="text-end page-pretitle">
            Server Time
          </div>
          <h2 class="page-title" id="time">
            {{ currentTime['hour'] }}:{{ currentTime['minute'] }}:{{ currentTime['second'] }}
          </h2>
          </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-cards d-none">
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-database" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
                      <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
                      <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
                   </svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    1 Backup Node
                  </div>
                  <div class="text-muted">
                    12 waiting payments
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-green text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="6" cy="19" r="2"></circle><circle cx="17" cy="19" r="2"></circle><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    78 Orders
                  </div>
                  <div class="text-muted">
                    32 shipped
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-twitter text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                  </span>
                </div>
                <div class="col">
                  <div class="font-weight-medium">
                    623 Shares
                  </div>
                  <div class="text-muted">
                    16 today
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="card card-sm">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="bg-facebook text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <div class="row row-cols-2 row-deck row-cards">
            <div class="col col-sm">
              <div class="card">
                <div class="card-body">
                  <div class="p-1">
                    <img src="{{ url_for('static', filename='img/logo-bqckup.png') }}" alt="">
                  </div>
                  <div class="text-center mt-2">
                    Version: {{ version }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-sm">
              <div class="card">
                <div class="empty">
                  <svg xmlns="http://www.w3.org/2000/svg"  style="--tblr-icon-size: 4rem;" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <ellipse cx="12" cy="6" rx="8" ry="3"></ellipse>
                    <path d="M4 6v6a8 3 0 0 0 16 0v-6"></path>
                    <path d="M4 12v6a8 3 0 0 0 16 0v-6"></path>
                 </svg>
                  <div class="empty-action">
                    <a href="{{ url_for('bqckup.view_add') }}" class="btn btn-primary">
                      Add Bqckup
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <h2 class="card-title">
                    Storage Information
                  </h2>
                </div>
                <div class="card-body">
                  <div class="datagrid">
                    <div class="datagrid-item">
                      <div class="datagrid-title">Server Storage</div>
                      <div class="datagrid-content">{{ server_storage['used'] }} / {{ server_storage['total'] }} (GB)</div>
                      <div class="progress mt-2">
                        <div class="progress-bar" style="width: {{ (server_storage['used'] / server_storage['total']) * 100 }}%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" aria-label="38% Complete">
                          <span class="visually-hidden">38% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="datagrid-item">
                      <div class="datagrid-title text-start">
                          Cloud Storage
                          <div class="float-end">
                            <span class="form-help" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Hint: We suggest you to set the limit for your cloud storage, so bqckup will give you a warning when it's almost exceed">?</span>
                          </div>
                      </div>
                      {% if cloud_storage %}
                        <div class="datagrid-content">100 / ∞</div>
                        <div class="progress mt-2">
                          <div class="progress-bar" style="width: 100%" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" aria-label="38% Complete">
                            <span class="visually-hidden">38% Complete</span>
                          </div>
                        </div>
                      {% else %}
                        <span class="text-muted">
                          No cloud storage
                        </span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>      
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="12 8 12 12 14 14"></polyline>
                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
             </svg>
              <h2 class="card-title">
                Recent Activity
              </h2>
            </div>
            <div class="card-table">
              <table class="table table-vcenter">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Storage</th>
                    <th>Last Run</th>
                    <th>Next Run</th>
                    <!-- <th></th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for i in bqckups %}
                    <tr>
                      <td>
                        <!-- <div class="d-flex align-items-center">
                          <span class="status-indicator status-green">
                            <span class="status-indicator-circle"></span>
                          </span>
                          <div> -->
                            <a href="{{ url_for('bqckup.detail', backup_name=bqckups[i]['name']) }}">
                              {{ bqckups[i]['name'] }}
                            </a>
                          <!-- </div>
                        </div> -->
                      </td>
                      <td>{{ bqckups[i]['options']['provider'] if not bqckups[i]['options']['provider'] == 'local' else bqckups[i]['options']['storage'] }}</td>
                      <td>{{ '-' if not bqckups[i]['last_backup'] else bqckups[i]['last_backup']|time_since }}</td>
                      <td>
                        {% if not bqckups[i]['next_backup'] %}
                          <span class="badge bg-warning">On Progress</span>
                        {% else %}
                          {{ bqckups[i]['next_backup'] }}
                        {% endif %}
                      </td>
                      <!-- <td>
                        <div class="dropdown">
                          <a href="#" class="btn-action" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                              <circle cx="12" cy="12" r="3"></circle>
                           </svg>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <span class="dropdown-header">Actions</span>
                            <a class="dropdown-item" href="javascript:void(0)" backup-name="{{ bqckups[i]['name'] }}" @click="backup_now()">
                              Run now
                            </a>
                          </div>
                        </div>
                      </td> -->
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="empty" x-show="{{ 'true' if not bqckups else 'false' }}">
              <div class="empty-img">
                <img src="{{ url_for('static', filename='illustrations/undraw_quitting_time_dm8t.svg') }}" height="128" alt="">
              </div>
              <p class="empty-title">No Bqckup Found</p>
              <p class="empty-subtitle text-muted">
                To create a backup, you can easily do so by clicking this button
              </p>
              <div class="empty-action">
                <a href="{{ url_for('bqckup.view_add') }}" class="btn btn-primary">
                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                 </svg>
                  Create your first Bqckup
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
