<div class="table-responsive">
  <table class="table table-bordered table-nowrap">
    <thead class="text-center">
      <tr>
        <th class="text-start">File name</th>
        <th class="text-start">Created On</th>
      </tr>
    </thead>
    {% if not files %}
    <tr>
      <td colspan="4" class="text-center text-muted">
        Data not found
      </td>
    </tr>
    {% endif %}
    <tbody>
      {% for file in files %}
      <tr style="background-color: white;">
        <td>
          <span >
            {{ file['Key'] if file['Key'] else file['Path'] |clearFolderName }}
            <button key="{{ file['Key'] if file['Key'] else file['ID'] }}" class="ms-3 me-1 btn-icon btn btn-sm btn-primary download_file">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                <polyline points="7 11 12 16 17 11"></polyline>
                <line x1="12" y1="4" x2="12" y2="16"></line>
              </svg>
            </button>
            <a href="#" key="{{ file['Key'] if file['Key'] else file['ID'] }}" class="get_link_download">
              Show link
            </a>
            <!-- <button key="{{ file['Key'] if file['Key'] else file['ID'] }}" class="btn-sm ms-1 btn btn-secondary get_link_download">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path>
                <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path>
              </svg>
              Show link
            </button> -->
          </span>
        </td>
        <td>
          {{ file['LastModified'] if file['LastModified'] else file['ModTime'] }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>