<table class="table card-table table-vcenter">
    <thead>
        <tr>
            <th></th>
            <th>Msg</th>
            <th>Date</th>
        </tr>
    </thead>
    {% if not logs %}
    <tr>
        <td colspan="3" class="text-center text-muted">
            Data not found
        </td>
    </tr>
    {% endif %}
    <tbody>
        {% for log in logs %}
        <tr>
            <td class="w-1">
                {{ log.status|getStatusLabel|safe }}
            </td>
            <td class="td-truncate">
                <div class="text-truncate">
                    {{ log.backup_id|getSiteName + ' ' + log.msg }}
                </div>
            </td>
            <td class="text-nowrap text-muted">
                {{ log.created_on|getDateFromUnix }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>