bqckup:
  name: domain
  enabled: no
  incremental:
    enabled: yes
    password: dummy # required if incremental
  path:
    - /var/www/html
  exclude_path:
    - cache
  database:
    enabled: yes
    type: mysql
    host: localhost
    port: 3306
    user: root
    password: root
    name: database
  databases:
    - enabled: yes
      type: mysql
      host: localhost
      port: 3306
      user: root
      password: root
      name: database
  options:
    storage: dummy
    interval: daily #can be daily, weekly, monthly 
    retention: '7'
    keep:
      daily: 7
      weekly: 4
      monthly: 4
    follow_symlink: no
    save_locally: no
    save_locally_path: /etc/bqckup/tmp
    notification_email: email@example.com
    provider: s3